package-lock=true
@jquery:registry=https://registry.npmjs.org
@lazyframe:registry=https://registry.npmjs.org
@parsleyjs:registry=https://registry.npmjs.org
@slick-carousel:registry=https://registry.npmjs.org
@wowjs:registry=https://registry.npmjs.org
@animate.css:registry=https://registry.npmjs.org
@normalize.css:registry=https://registry.npmjs.org
