//Landing media queries
$media-screen-phone: 375px;
$media-screen-tablet: 767px;
$media-screen-desktop: 960px;
$media-screen-lg-desktop: 1280px;
$media-screen-xl-desktop: 1480px;

// Typography
$open-sans: "Open Sans", sans-serif;
$gilroy-font: "Gilroy", sans-serif;

$text-color: #5B6375;
$title-color: #212529;
$white-color: #FFFFFF;
